body {
    font-family: sans-serif;
    margin-top: 10px;
}
h4{
    text-decoration: underline;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    max-width: 800px;
    color: grey;
    background: #d3d3d3;
    text-align: center;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 20px;
}

